---
import ExerciseCard from "./ExerciseCard.astro";

const { lesson, lessonUrl, exercices, classList } = Astro.props;
---

<div class={classList}>
  <div
    class="relative w-full h-2 border-t border-l border-r border-white mb-6 rounded-t-md"
  >
    <a
      href={`/lecciones/${lessonUrl}`}
      class={`absolute bg-[#17181c] -top-4 px-2 left-4`}
    >
      <h3 class="max-w-[10.5em] truncate">
        {lesson}
      </h3>
    </a>
  </div>
  <ul class="flex gap-4 h-full overflow-x-auto min-w-[220px] overflow-y-hidden">
    {exercices.map((ex) => <ExerciseCard head={ex.data.head} id={ex.id} />)}
  </ul>
</div>
