---
import { Icon } from "astro-icon/components";
const { classList, difficult, name, description, index, url } = Astro.props;
---

<div 
  class={`lection relative flex flex-col bg-[#23262f] border-2 border-[#353841] rounded-xl w-full p-4 ${classList}`}
>
  <!-- <div
    class="absolute -top-3 -left-3 text-xs bg-blue-800 rounded-full w-6 h-6 flex items-center justify-center text-white"
  >
    {index}
  </div> -->
  <main class="flex-1">
    <a href={"/lecciones/" + url}>
      <h2
        class="text-2xl text-white mb-2"
        transition:name={`lectionTitle-${index}`}
      >
        {name}
      </h2>
    </a>

    <p class="text-gray-300 text-sm">{description}</p>
  </main>

  <footer class="flex items-center justify-between h-8">
    <div
      class="flex items-center justify-center hover:bg-neutral-700 p-1 rounded-full duration-100 cursor-pointer"
    >
      <Icon name="star" height={20} width={20} class={"text-gray-300"} />
    </div>
    <span
      class:list={[
        "text-sm px-4 py-0.5 text-white rounded-full",
        {
          "bg-green-700": difficult === "Fácil",
        },
        {
          "bg-yellow-700": difficult === "Medio",
        },
        {
          "bg-red-700": difficult === "Difícil",
        },
      ]}>{difficult}</span
    >
  </footer>
</div>

<style>
  .lection{
    transition: all 0.2s ease-in-out;
  }
  .lection:hover{
    scale: 1.03;
  
  }
</style>
