---
import ButtonTwoOptions from "../components/ButtonTwoOptions.astro";
import NextExercise from "../components/NextExercise.astro";

const { body, head, exercicesInThisLesson, id, indexOfLesson } = Astro.props;
const actualIndexOfEx = exercicesInThisLesson.findIndex((ex) => ex.id === id);
---

<main class="px-12">
  <NextExercise
    indexOfLesson={indexOfLesson}
    actualIndexOfEx={actualIndexOfEx}
    exercicesInThisLesson={exercicesInThisLesson}
  />

  <header class="flex gap-4 items-center">
    <figure
      class="w-32 aspect-square bg-gray-600 rounded-full grid place-items-center"
    >
      Logo
    </figure>
    <div class="flex flex-col gap-2">
      <a
        id="volverALeccion"
        href={`/lecciones/${head.lection.slug}`}
        class="hover:underline underline-offset-2">Volver a ver la leccion</a
      >
      <h1 class="text-5xl font-bold">{body.question}</h1>
    </div>
  </header>
  <div class="mt-12 w-full px-12">
    <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      {
        body.options.map((opt) => (
          <ButtonTwoOptions isCorrect={opt.correct} text={opt.text} />
        ))
      }
    </ul>
  </div>
</main>
<script>
  import { ExerciceOption } from "../lib/clases";

  const $buttons = document.querySelectorAll(
    ".buttonOptionMultiple"
  ) as NodeListOf<HTMLButtonElement>;

  const buttons = [] as ExerciceOption[];

  let cantidadDeCorrectas = 0;

  $buttons.forEach(($button) => {
    const correct = $button.dataset.iscorrect == "true";
    const option = new ExerciceOption(correct, $button.innerText, $button);
    buttons.push(option);

    if (correct) {
      cantidadDeCorrectas++;
    }
  });

  const activeGoNext = () => {
    document.getElementById("goNextExercice")?.classList.add("active");
  };

  const disabledButtons = () =>
    buttons.forEach((button) => button.setDisabled());

  const añadirTextoComoHTML = ($button) => {
    $button.innerHTML = $button.dataset.text;
  };

  $buttons.forEach(($button) => {
    añadirTextoComoHTML($button);
  })
  buttons.forEach((button) => {

    button.getElement().addEventListener("click", () => {
      if (button.isAValidOption()) {
        cantidadDeCorrectas--;
        button.addStylesOfOptionType();

        if (cantidadDeCorrectas === 0) {
          confetti({
            particleCount: 200,
            spread: 100,
            origin: { y: 0.6 },
          });
          activeGoNext();
          disabledButtons();
        }
      } else {
        button.addStylesOfOptionType();
      }
    });
  });
</script>
