---
import ExerciseTypeThreeCodeLine from "../components/ExerciseTypeThreeCodeLine.astro";
import NextExercise from "../components/NextExercise.astro";

const { body, head, exercicesInThisLesson, id } = Astro.props;
const actualIndexOfEx = exercicesInThisLesson.findIndex((ex) => ex.id === id);
---

<main class="px-12">
  <NextExercise
    actualIndexOfEx={actualIndexOfEx}
    exercicesInThisLesson={exercicesInThisLesson}
  />
  <div class="flex flex-col gap-2">
    <a
      id="volverALeccion"
      href={`/lecciones/${head.lection.slug}`}
      class="hover:underline underline-offset-2">Volver a ver la leccion</a
    >

    <h1 class="text-5xl font-bold">
      {head.title}
    </h1>
  </div>
  <ul class="mt-12">
    {
      body.bloques.map((bloque) => {
        return <ExerciseTypeThreeCodeLine bloque={bloque} />;
      })
    }
  </ul>
</main>
