---
import ButtonOneOption from "../components/ButtonOneOption.astro";
import NextExercise from "../components/NextExercise.astro";


const { body, head, exercicesInThisLesson, id } = Astro.props;
const actualIndexOfEx = exercicesInThisLesson.findIndex((ex) => ex.id === id);
---

<main class="px-12 h-full w-full">
  <img src="/FONDO (1).png" class="absolute -z-10 flex left-1/2 top-1/2 w-full -translate-x-1/2 -translate-y-1/2 max-h-[100vh]">
  <NextExercise
    actualIndexOfEx={actualIndexOfEx}
    exercicesInThisLesson={exercicesInThisLesson}
  />

  <header class="flex gap-[8em] justify-center mt-14 flex-row-reverse items-center">
    <img src="http://localhost:4321/mascota.png" class="w-[10em] h-[10em]">

    <div class="flex flex-col gap-2 bg-[#33353B] p-6 max-w-full max-h-full rounded-l-xl border-solid border-2 border-[#B4B4B4]">
      <h1 class="text-3xl font-normal flex text-center font-[lexend] -mt-3">{body.question}</h1>
      {body.context && <p id="context" class="text-lg" data-text={body.context} />}
    </div>

  </header>
  <div class="w-full px-12 flex justify-center mt-[6em]">
    <ul class="grid gap-3 items-center justify-center ">
      {
        body.options.map((opt) => (
          <ButtonOneOption isCorrect={opt.correct} text={opt.text} />
        ))
      }
    </ul>
  </div>
</main>

<script>
  import { ExerciceOption } from "../lib/clases";
  import Toastify from "toastify-js";
  
  const $context = document.getElementById("context") as HTMLParagraphElement;
  if($context){
    $context.innerHTML = $context.dataset.text;
  }


  const $buttons = document.querySelectorAll(
    ".buttonOption"
  ) as NodeListOf<HTMLButtonElement>;

  const buttons = [] as any;

  $buttons.forEach(($button) => {
    const correct = $button.dataset.iscorrect == "true";
    const option = new ExerciceOption(correct, $button.innerText, $button);
    buttons.push(option);
  });

  const activeGoNext = () => {
    document.getElementById("goNextExercice")?.classList.add("active");
  };

  const disabledButtons = () =>
    buttons.forEach((button) => button.setDisabled());

  const showCorrectAnswer = () => {
    const correctOption = buttons.find((button) => button.isAValidOption());
    correctOption.getElement().classList.add("parcialCorrect");
  };

  buttons.forEach((button) => {
    button.getElement().addEventListener("click", () => {
      button.addStylesOfOptionType();
      activeGoNext();
      disabledButtons();

      if (button.isAValidOption() == true) {
        confetti({
          particleCount: 200,
          spread: 100,
          origin: { y: 0.6 },
        });
        
        Toastify({
          text: "Ejercico resultado!",
          duration: 500, // Duración de 2 segundos
          stopOnFocus: true,
        }).showToast();

      } else {
        showCorrectAnswer();
      }
    });
  });
</script>
