---
import ExerciseTypeThreeCodeLine from "../components/ExerciseTypeThreeCodeLine.astro";
import ExerciceTypeThreeHole from "../components/ExerciceTypeThreeHole.astro";
import NextExercise from "../components/NextExercise.astro";
import { Icon } from "astro-icon/components";


const { body, head, exercicesInThisLesson, id, indexOfLesson } = Astro.props;
const actualIndexOfEx = exercicesInThisLesson.findIndex((ex) => ex.id === id);
---

<div class="flex gap-1 w-full h-full">
  
  <img src="http://localhost:4321/fondoej3.png" class="absoulute w-full h-[37em]">
  <main class="flex flex-col w-full h-full justify-center px-12 absolute">
    <div class="w-full flex flex-col mb-[16em]">
      <h1 class="text-5xl font-bold font-[lexand] text-[60px]">
        {head.title}
      </h1>
      <span class="max-w-xl mt-2 ml-2 text-gray-200 font-[urbanistic] font-normal">
        {body.description}
      </span>
    </div>
    <img src="https://klocalhost:4321/bellota.png" class="absolute w-[20em] h-[20em] ml-20">
    <ul id="dragable" class="mb-[6em] flex gap-2">
      {
        body.bloques.map((bloque) => {
          return <ExerciseTypeThreeCodeLine bloque={bloque} />;
        })
      }
    </ul>
  </main>
  <aside class="h-[30em] w-[25em] bg-gray-800 mr-10 mt-10 absolute flex ml-[50em]">
    <ul id="dropZones" class="w-full p-4 flex flex-col items-center -mt-4">
        <div class="w-[25em] bg-gray-600 p-2 px-6 relative h-10">
          <div class="window">
            <div class="header">
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
            </div>  
      {
        body.bloques.map(() => {
          return <ExerciceTypeThreeHole />;
        })
      }
    </ul>
  </aside>
  <button
  id="checkExercice"
  class="hidden w-[10em] h-11 bg-[#5E5E11] rounded-bl-none text-xl absolute bottom-12 right-[3em] place-content-center hover:scale-105 duration-200 rounded-l-2xl font-[lexand] font-bold"
  >Siguiente</button
  >
  
  <NextExercise
  indexOfLesson={indexOfLesson}
  actualIndexOfEx={actualIndexOfEx}
  exercicesInThisLesson={exercicesInThisLesson}
  />
</div>

<style>
  button.active {
    display: grid !important;
  }
  .dot {
    
    height: 15px;
    width: 15px;
    background: #ed594a;
    display: inline-block;
    border-radius: 50%;
    margin-right: 7px;
  }

  .dot:nth-child(2) {
    background: #fdd800;
  }

  .dot:nth-child(3) {
    background: #5ac05a;
  }
</style>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.3/dragula.min.js"
  defer></script>
<script defer>
  const $checkExercice = document.getElementById("checkExercice");

  const activeGoNext = () => {
    document.getElementById("goNextExercice")?.classList.add("active");
  };

  const areAllHolesCompleted = () => {
    const $dropZones = document.querySelectorAll(".drop-zone");
    let unusedHoles = $dropZones.length;
    $dropZones.forEach(($dropZone) => {
      if ($dropZone.children.length > 0) {
        unusedHoles--;
      }
    });
    if (unusedHoles === 0) return true;

    return false;
  };
  const isAValidTarget = (target, source) => {
    if (target && target.classList.contains("drop-zone")) {
      if (source && source !== target) {
        return true;
      }
      return false;
    }

    return false;
  };

  const swapChildrens = (targetChildren, target, source) => {
    if (targetChildren.length > 1) {
      const targetChild = targetChildren[0];
      target.removeChild(targetChild);
      source.appendChild(targetChild);
    }
  };

  document.addEventListener("DOMContentLoaded", () => {
    const dragable = document.querySelector("#dragable");
    const dropZones = Array.from(document.querySelectorAll(".drop-zone"));

    const drake = dragula([dragable, ...dropZones], {
      revertOnSpill: true,
    });

    drake.on("drop", (el, target, source, sibling) => {
      if (isAValidTarget(target, source)) {
        const targetChildren = Array.from(target.children);
        swapChildrens(targetChildren, target, source);

        if (areAllHolesCompleted()) {
          $checkExercice.classList.add("active");
        } else {
          $checkExercice.classList.remove("active");
        }
      }
    });
  });

  const checkExercice = () => {
    passed = true;
    const $dropZones = document.getElementById("dropZones");

    for (let i = 0; i < $dropZones.children.length; i++) {
      const $dropZone = dropZones.children[i];
      const elemInThisDropZone = $dropZone.children[0];
      if (elemInThisDropZone.dataset.order != i + 1) {
        passed = false;
      }
    }

    if (passed){
      activeGoNext()
    }
  };
  $checkExercice.addEventListener("click", checkExercice);
</script>
