---
import ButtonTwoOptions from "../components/ButtonTwoOptions.astro";
import NextExercise from "../components/NextExercise.astro";

const { body, head, exercicesInThisLesson, id, indexOfLesson } = Astro.props;
const actualIndexOfEx = exercicesInThisLesson.findIndex((ex) => ex.id === id);
---

<main class="px-12  h-full w-full">
  <img src="/fondoej1.png" class="absolute -z-10 flex left-1/2 top-1/2 w-full -translate-x-1/2 -translate-y-1/2 max-h-[100vh]">
  <NextExercise
    indexOfLesson={indexOfLesson}
    actualIndexOfEx={actualIndexOfEx}
    exercicesInThisLesson={exercicesInThisLesson}
  />

  <header class="flex gap-[8em] justify-center mt-[1em] flex-row-reverse items-center mr-[11em] ">
    <div class="flex items-center flex-row-reverse gap-[7em] ml-[10em] mt-24 ">
      <img src="http://localhost:4321/mascota.png" class="w-[11em] h-[10em]">
      <div class="bg-[#33353B] flex items-center text-center p-6 max-w-full max-h-full rounded-l-xl border-solid border-2 border-[#B4B4B4]">
        <h1 class="text-3xl font-normal flex text-center font-[lexend] -mt-1 ml-1 px-2 py-1">
          {body.question}
        </h1> 
      </div>
    </div>
  </header>
  <div class="mt-12 w-full px-12">
    <ul class="mx-auto flex gap-6 w-fit items-center">
      {
        body.options.map((opt) => (
          <ButtonTwoOptions isCorrect={opt.correct} text={opt.text} />
        ))
      }
    </ul>
  </div>
</main>
<script>
  import { ExerciceOption } from "../lib/clases";

  const $buttons = document.querySelectorAll(
    ".buttonOptionMultiple"
  ) as NodeListOf<HTMLButtonElement>;

  const buttons = [] as ExerciceOption[];

  let cantidadDeCorrectas = 0;

  $buttons.forEach(($button) => {
    const correct = $button.dataset.iscorrect == "true";
    const option = new ExerciceOption(correct, $button.innerText, $button);
    buttons.push(option);

    if (correct) {
      cantidadDeCorrectas++;
    }
  });

  const activeGoNext = () => {
    document.getElementById("goNextExercice")?.classList.add("active");
  };

  const disabledButtons = () =>
    buttons.forEach((button) => button.setDisabled());

  const añadirTextoComoHTML = ($button) => {
    $button.innerHTML = $button.dataset.text;
  };

  $buttons.forEach(($button) => {
    añadirTextoComoHTML($button);
  })
  buttons.forEach((button) => {

    button.getElement().addEventListener("click", () => {
      if (button.isAValidOption()) {
        cantidadDeCorrectas--;
        button.addStylesOfOptionType();

        if (cantidadDeCorrectas === 0) {
          confetti({
            particleCount: 200,
            spread: 100,
            origin: { y: 0.6 },
          });
          activeGoNext();
          disabledButtons();
        }
      } else {
        button.addStylesOfOptionType();
      }
    });
  });
</script>
