---
import { getEntry } from "astro:content";
import FutureExercicesAside from "../../components/FutureExercicesAside.astro";
import ExercicesLayout from "../../layout/ExercicesLayout.astro";
import ExerciseTypeOne from "../../sections/ExerciseTypeOne.astro";
import ExerciseTypeTwo from "../../sections/ExerciseTypeTwo.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const exercices = await getCollection("ejercicios");
  return exercices.map((l) => ({
    params: { id: l.id },
    props: { l },
  }));
}

const { l } = Astro.props;
const { head, body } = l.data;
const id = l.id;

const lectionOfThisEx = await getEntry("lecciones", head.lection.slug);
const indexOfLesson = lectionOfThisEx.data.index;

if (!lectionOfThisEx) return;

const exercicesInThisLesson = lectionOfThisEx.data.exercises;

---

<ExercicesLayout title={head.title}>
  <div id="content" class="flex-1 w-full grid place-items-center">
    {
      head.type == "Unica Opcion" ? (
        <ExerciseTypeOne
          body={body}
          head={head}
          id={id}
          exercicesInThisLesson={exercicesInThisLesson}
        />
      ) : (
        <ExerciseTypeTwo
          body={body}
          head={head}
          id={id}
          exercicesInThisLesson={exercicesInThisLesson}
        />
      )
    }
  </div>
  <FutureExercicesAside
    lectionName={lectionOfThisEx.data.title}
    exercicesInThisLesson={exercicesInThisLesson}
  />
</ExercicesLayout>
